body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}
header button{
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

main {
    padding: 50px;
    min-height: 250px;
    background-color: crimson;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
}

#grid-container {
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}