body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}

main {
    padding: 50px;
    min-height: 250px;
    background-color: crimson;
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
    height: 960px;
    width: 960px;
    background-color: aliceblue;
}
.grid-contianer{
    height: 960px;
    width: 960px;
    outline: 5px solid black;
}