body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}

main {
    padding: 50px;
    min-height: 250px;
    background-color: crimson;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
    height: 960px;
    width: 960px;
    background-color: aliceblue;
}

#grid-container {
    height: 960px;
    width: 960px;
    display: grid;
    grid-gap: 0.2em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: 0.2em;
    border: 1px solid #ddd;
    font-size: 0.5em;
    text-align: center;
}